<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
<h2>Registreren</h2>

<form [formGroup]="register" (ngSubmit)="onSubmit()">
    <label>Voornaam: </label><br>
    <input formControlName="firstName">
    <br><br>
    <label>Achternaam: </label><br>
    <input formControlName="lastName">
    <br><br>
    <label>E-mailadres: </label><br>
    <input formControlName="email">
    <br><br>
    <label>Wachtwoord: </label><br>
    <input formControlName="password">
    <br><br>
    <button value="Registreer">Registreer</button>
</form>
<br><br>
<input routerLink="/login-page" type="submit" value="Terug">
        </div>
    </div>
</div>
