<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <!-- Naam applicatie -->
    <a class="navbar-brand" href="#">Lekker Diëten</a>

    <!-- Navbar routerlinks -->
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="nav-link" routerLink="/login-page">Login</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" routerLink="/register-page">Registreren</a>
        </li>
        <li class="navbar-item">
            <a class="nav-link" routerLink="/feedback-page">Feedback</a>
        </li>
        <li class="navbar-item">
            <a (click)="logout()" class="nav-link" routerLink="/login-page">Uitloggen</a>
        </li>
    </ul>
</nav>

