<div class="container">
    <div class="row justify-content-center">
        <div class="col-4">
<h2>Login</h2>

<form [formGroup]="login" (ngSubmit)="onSubmit()">
    <label>E-mailadres:</label><br>
    <input formControlName="username" required><br><br>
    <label>Wachtwoord:</label><br>
    <input type="password" formControlName="password" required><br>
    <!-- <a style="font-size: small" routerLink="/forgot-pass">Wachtwoord vergeten?</a><br><br> -->
    <button value="Login">Login</button>
<!--  <div *ngIf="f.username.errors.required || f.password.errors.required">Alle gegevens moeten ingevuld worden.</div>-->
</form>

<br>

<p>Nog geen gebruiker?
    <input routerLink="/register-page" type="submit" value="Maak een account">
</p>
        </div>
    </div>
</div>
