<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <br>
            <h4>Bug melden</h4>
            <p>
                Heb je een bug gevonden in de app? We stellen het op prijs, als je dit aan ons door kunt geven. Vul onderstaand formulier zo volledig mogelijk in. Dank!
            </p>
            <br>
            <form>
                <h6>Vragen over jouw telefoon:</h6>
                <label>Met welke telefoon gebruik je de app?</label><br>
                <input style="width: 35%" placeholder="Vul merk en type telefoon in..."><br><br>
                <label>Welke versie van Android gebruik je op je telefoon?</label><br>
                <input style="width: 35%" placeholder="Vul Android versie in..."><br><br>

                <h6>Informatie over de bug:</h6>
                <label>Samenvatting bug:</label><br>
                <textarea rows="3" cols="50" placeholder="Vul hier een samenvatting van de bug in..."></textarea><br><br>
                <label>Welke stappen heb je genomen, om deze bug te vinden?</label><br>
                <textarea rows="3" cols="50" placeholder="Vul hier de stappen in..."></textarea><br><br>
                <label>Wat zou de normale werking moeten zijn?</label><br>
                <textarea rows="3" cols="50" placeholder="Vul hier in, wat je verwacht van de functie..."></textarea><br><br>
                <input type="submit" value="Verstuur">
            </form>
        </div>
    </div>
</div>